<!DOCTYPE html>
<html lang="en">
  <head>
    <title>notInstagram</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="notinstagram is a clone of instagram" />
    
    <% if Rails.env.production? %>
      <link rel="preconnect" href="<%= ENV['AWS_URL'] %>">
      <link rel="icon" href="<%= ENV['AWS_URL'] %>/favicon.ico" />
      <link rel="apple-touch-icon" href="<%= ENV['AWS_URL'] %>/logo192.png" />
      <link rel="manifest" href="<%= ENV['AWS_URL'] %>/manifest.json" />
      <script src="<%= ENV['AWS_URL'] %>/scripts/bundle.js.gz"></script>
      <link rel="stylesheet" media="screen" href="<%= ENV['AWS_URL'] %>/scripts/style.css.gz">
    <% else %>
      <link rel="icon" href="/favicon.ico" />
      <link rel="apple-touch-icon" href="/logo192.png" />
      <link rel="manifest" href="/manifest.json" />
      <%= javascript_pack_tag "application" %>
      <%= stylesheet_pack_tag 'style-development' %>
    <% end %>
    
    <%= react_component("Index") %>

    <% if logged_in? %>
      <script type="text/javascript">
          window.logged_in_user =
            <%= render("api/sessions/user.json.jbuilder", user: logged_in_user).html_safe %>
      </script>
    <% end %>
  </head>
  <body></body>
</html>